[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pytz = "*"
pillow = "*"
httplib2 = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
dj-static = "*"

[requires]
python_version = "3.6"
