html{
	position: relative;
  	min-height: 100%;
}

body{
	background-color: #161616;
	margin-bottom: 60px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #161616;
  height: 60px;
  border-top: 0.5px solid #ea7a02;
}
