{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Upload</title>
{% endblock %}
{% block content %}
	<div style="margin-top: 15%;">
		<center>
			<h3 style="color: #ea7a02;">Select image upload type</h3>
		</center>
	</div>

	<div class="container-fluid" style="margin-top: 15px;">
	    <div class="row">
	    	<div class="col-md-6">
	    		<a href="from_image" class="btn-sample btn-lg active" role="button" aria-pressed="true" style="background-color: #ea7a02; border: 0; color: #161616; float: right;">Upload image directly</a>
	    	</div>
	    	<div class="col-md-6">
	    		<a href="from_url" class="btn-sample btn-lg active" role="button" aria-pressed="true" style="background-color: #ea7a02; border: 0; color: #161616; float: left;">Upload image via URL</a>
	    	</div>
	    </div>
	</div>
{% endblock %}