{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Upload Image</title>
{% endblock %}
{% block content %}
	<div class="container" style="">

	    <form method="post" enctype="multipart/form-data" style="color: #ea7a02; margin: 0; position: absolute; left: 45%; margin-top: 150px;">
	        {% csrf_token %}
	        <div class="form-group">
	        	<label>Upload an image</label>
	        	<input type="file" name ="image" required="" class="form-control-file" id="id_image">
	  		</div>
	        <button type="submit">Save</button>
	    </form>
	    
    </div>
{% endblock %}