{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Upload via URL</title>
{% endblock %}
{% block style %}
	<style type="text/css">
		.btn:hover{
			color: #161616;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="container">
	    <form method="post" enctype="multipart/form-data" style="color: #ea7a02; margin-top: 150px;">
	        {% csrf_token %}
	        <div class="input-group" style="background-color: #161616;">
				<div class="input-group-prepend">
			    	<span class="input-group-text" style="background-color: #EA7A01; color: #161616;">URL</span>
			  	</div>
			  	<input type="url" name="url" required="" id="id_url" class="form-control">
			  	<div class="input-group-append">
					<button class="btn btn-outline-light" type="submit" style="color: #EA7A01;">Save</button>
				</div>
			</div>
	    </form>
    </div>
{% endblock %}